*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 350px 550px 1000px 350px 100px
}

.top-header{
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    background-color: #004fa4c8;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.headerLinks{
    margin-left: 50px;
    margin-top: 20px
}

.nav{
    text-decoration: none;
    margin: 10px;
    padding-bottom: 6px;
    color: white;
    font-size: 16px;
    transition: 0.07s;
}

.nav:hover, .logIns:nth-child(2):hover{
    border-bottom: 3px solid white;
}

.loginLinks{
    text-align: end;
}

.logIns:first-child{
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: solid 2px white;
    border-radius: 10px;
}

.logIns:nth-child(2){
    color: white;
    text-decoration: none;
    transition: 0.07s;
    margin: 20px;
}

