*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 480px 550px 1000px 350px 100px
}

.top-header{
    display: grid;
    grid-template-rows: 50px 170px 1fr;
    background-color: #004fa4c8;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    bottom: 10px;
    left: 8px;
}

.searchBar > button > .arrow{
    border: solid black;
    border-width: 0 2px 2px 0;
    position: static;
    margin: 2px;
    margin-left: 15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.07s;
}

.up{
    transform: rotate(225deg);
    transition: 0.07s;
}



.headerLinks{
    margin-left: 50px;
    margin-top: 20px
}

.nav{
    text-decoration: none;
    margin: 10px;
    padding-bottom: 6px;
    color: white;
    font-size: 16px;
    transition: 0.07s;
}

.nav:hover, .logIns:nth-child(2):hover{
    border-bottom: 3px solid white;
}

.loginLinks{
    text-align: end;
}

.logIns:first-child{
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: solid 2px white;
    border-radius: 10px;
}

.logIns:nth-child(2){
    color: white;
    text-decoration: none;
    transition: 0.07s;
    margin: 40px;
}

.logIns:last-child{
    background-color: transparent;
    border: none; 
    margin-right: 60px;
    position: relative;
    top: 9px;
}

.logIns:last-child:hover{
    cursor: pointer;
}

.loginMenu{
    place-self: end;
    z-index: 1;
    width: 300px;
    background-color: white;
    display: grid;
    gap: 5px;
    margin-right: 49px;
    margin-top: 18px;
}

.loginMenu > ul{
    display: grid;
    align-items: center;
    margin-left: 10px;
    list-style: none;
}


.loginMenu > ul > li > a{
    display: grid;
    grid-template-columns: 20px 1fr 30px;
    text-decoration: none;
    color: black;
    gap: 5px;
    margin-bottom: 15px;
    align-items: center;
}

.loginLinks > button > .ProfileIcon{
    color: transparent;
}

.loginMenu > ul > li > a > .ProfileIcon {
    color: grey;
    background-color: grey;
    border: solid 1px transparent;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    margin-left: 2px;
}


.loginMenu > ul > li:first-child > a{
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 20px;
}

.loginMenu > ul > li:first-child{
    margin-left: 3px;
    margin-top: 10px;
}

.loginMenu > ul:last-child > li:nth-child(7){
    display: grid;
    margin-bottom: 15px;
    margin-right: 10px;
}

.badgeAlert > p {
    display: inline-block;
    border: 2px solid red;
    border-radius: 50px;
    padding: 1px;
    margin-left: 5px;
    font-size: 13px;
    background-color: red;
    color: white;
    font-weight: bolder;

}

.loginMenu > ul > li > a:hover{
    text-decoration: underline;
}

.Logo {
    display: grid;
    align-content: center;
    justify-self: center;
}

.Logo > a:first-child{
    display: grid;
    grid-template-columns: 120px 328.95px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 40px;
    position: relative;
    justify-self: center;
}

.Logo > a:last-child{
    text-decoration: none;
    color: white;
    position: relative;
    left: 180px;
    bottom: 35px;
    width: 250px;
}

.top-header > nav{
    display: grid;
    grid-template-rows: min-content min-content;
}

.searchBar-Menu, .searchBar{
    text-align: center;
}

.searchBar-Menu{
    margin-right: 33.8vw;
}

.searchBar-Menu > button{
    background-color: transparent;
    border: solid 2px transparent;
    padding: 1vw;
    font-size: 20px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.searchBar-Menu > button:hover{
    cursor: pointer;
    background-color: #86b5ea80;
}

.searchBar > button, .searchBar > input{
    background-color: white;
    border: 2px solid white;
    padding: 20px 15px 20px 15px;
    font-size: 15px;
}

.searchBar > button:nth-child(2){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgb(197, 197, 197);
    
}

.searchBar > button:last-child{
    position: relative;
    border-radius: 5px;
    background-color: rgb(181, 0, 0);
    color: white; 
    right: 95px;
    padding: 10px 20px 10px 20px
}

.searchBar > input{
    width: 50vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 30px;
}

.searchBar > input:focus{
    outline: none;
}

.searchBar > svg{
    position: relative;
    left: 280px;
    top: 7px;
    background-color: white;
    
}

.searchBar-Label{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 15px;
    background-color: white;
    height: fit-content;
    width: fit-content;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    align-items: center;
}

.searchBar-Label > p:first-child{
    padding: 5px 10px 5px 10px;
    background-color: #004fa4c8;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.searchBar-Label > a{
    text-decoration: none;
    color: #004fa4c8;
}

.searchBar-Label > a:hover{
    text-decoration: underline;
}


